/OpenTripPlannerBackend/Data/agency.txt
/OpenTripPlannerBackend/Data/calendar.txt
/OpenTripPlannerBackend/Data/calendar_dates.txt
/OpenTripPlannerBackend/Data/routes.txt
/OpenTripPlannerBackend/Data/stop_times.txt
/OpenTripPlannerBackend/Data/stops.txt
/OpenTripPlannerBackend/Data/transfers.txt
